<div class="container">
    @if(loading) {
        <h2>Loading Product...</h2>
    }
    @else {
        <div class="center">
            <div class="card" style="width: 25rem;">
                <img src="{{product?.image}}" class="card-img-top" alt="{{product?.title}}">
                <div class="card-body">
                    <h5 class="card-title">{{product?.title}}</h5>
                    <p class="card-text">{{product?.description}}</p>
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Price: </b>{{product?.price | currency}}</li>
                <li class="list-group-item"><b>Category: </b>{{product?.category}}</li>
                <button type="button" class="btn btn-primary" [routerLink]="['/products']">Go to Products</button>
                </ul>
            </div>
        </div>
    }
</div>